<ion-view title="Ajustar CSV" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="ajustarCSV-card21">
      <form id="ajustarCSV-form4" class="list">
        <label class="item item-select" id="ajustarCSV-select1">
          <span class="input-label">Seleccione Primera Columna</span>
          <select ng-options="nam as nam.nam for nam in column_type" ng-model="column_type"></select>
        </label>
        <label class="item item-select" id="ajustarCSV-select3">
          <span class="input-label">Seleccione la Primera fila</span>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </label>
        <ion-toggle toggle-class="toggle-positive" id="ajustarCSV-toggle5" ng-model="titleToggle">Contiene Titulos?</ion-toggle>
       </form>
    </div>
         <a id="ajustarCSV-button63"  style="border-radius:50px 50px 50px 50px;" 
      class="button button-positive button-block icon-right ion-checkmark-circled" ng-click="createWDB()" >Iniciar</a>
    <form id="ajustarCSV-form18" class="list" ng-show="titleToggle == True" ng-hide="titleToggle==false">
      <label ng-show="showBarrSelect!=''" class="item item-select" id="ajustarCSV-select23">
        <span class="input-label">Barreno</span>
        <select ng-options="nam as nam.nam for nam in column_type_list" ng-model="barrcol" ng-change="selectBarreno(barrcol)"></select>
      </label>
      <label ng-show="showCoordxSelect!=''" class="item item-select" id="ajustarCSV-select28">
        <span class="input-label">Coordenada X</span>
        <select ng-options="nam as nam.nam for nam in column_type_list" ng-model="coordx" ng-change="selectCoordx(coordx)"></select>
      </label>
      <label ng-show="showCoordySelect!=''"  class="item item-select" id="ajustarCSV-select29">
        <span class="input-label">Coordenada Y</span>
        <select ng-options="nam as nam.nam for nam in column_type_list" ng-model="coordy" ng-change="selectCoordy(coordy)"></select>
      </label>
      <div ng-show="showProf!=''" class="row">
      <h4>Profundidad</h4>
      </div>
      <div class="row">
      <div class="col">
      <label ng-show="showProf!=''" class="item item-select" id="ajustarCSV-select30">
        <span class="input-label">Profundidad</span>
        <select ng-options="nam as nam.nam for nam in column_type_list" ng-model="prof" ng-change="selectProf(prof)"></select>
      </label>
      </div>
      <div class="col">
      <label ng-show="showProfunit!=''" class="item item-select" id="ajustarCSV-selectprofunit">
        <span class="input-label">Medida</span>
        <select ng-options="nam as nam.nam for nam in unitTableProf" ng-model="unitprof" ng-change="selectUnitProf(unitprof)"></select>
      </label>
      </div>
      </div>
      <div ng-show="showDiam!=''" class="row">
      <h4>Diámetro</h4>
      </div>
      <div class="row">
      <div class="col">
            <label ng-show="showDiam!=''" class="item item-select" id="ajustarCSV-select31">
        <span class="input-label">Diámetro</span>
        <select ng-options="nam as nam.nam for nam in column_type_list" ng-model="diametro" ng-change="selectDia(diametro)"></select>
      </label>
      </div>
      <div class="col">
      <label ng-show="showDiamunit!=''" class="item item-select" id="ajustarCSV-selectprofunit">
        <span class="input-label">Medida</span>
        <select ng-options="nam as nam.nam for nam in unitTableProf" ng-model="unitdiametro" ng-change="selectUnitDia(unitdiametro)"></select>
      </label>
      </div>
      </div>

    </form>
    <!--button id="ajustarCSV-button10" ng-click="columnType()" class="button button-positive button-block button-clear icon ion-checkmark-circled"></button-->
    <div id="ajustarCSV-button-bar4" class="button-bar">
      <a ui-sref="menu.subirProyecto()" id="ajustarCSV-button62" style="border-radius:50px 50px 50px 50px;" 
      class="button button-positive button-block icon-left ion-android-arrow-dropleft-circle">Atras</a>
       <a ui-sref="menu.parametrosVoladura1()" id="ajustarCSV-button63" ng-disabled="continueOpt" style="border-radius:50px 50px 50px 50px;" 
      class="button button-positive button-block icon-right ion-android-arrow-dropright-circle" >Continuar</a>
    </div>
    
    <div class="row">
      <p>Cantidad Total de Barrenos: {{Barrenos.total_rows}}</p>
    </div>
    <div class="row">
      <div class="col">{{column_type.a.nam}}</div>
      <div class="col">{{column_type.b.nam}}</div>
      <div class="col">{{column_type.c.nam}}</div>
      <div class="col">{{column_type.d.nam}}</div>
      <div class="col">{{column_type.e.nam}}</div>
    </div>

    <ion-list id="ajustarCSV-list11">
      
      <ion-item class="assertive" id="ajustarCSV-list-item18" ng-repeat="barreno in Barrenos.rows | orderBy:'doc.Col1'">
        <div class="row">
          <!--div class="col">{{barreno.id}}</div-->
          <div class="col">{{barreno.doc.Col1}}</div>
          <div class="col">{{barreno.doc.Col2}}</div>
          <div class="col">{{barreno.doc.Col3}}</div>
          <div class="col">{{barreno.doc.Col4}}</div>
        </div>
      </ion-item>
    </ion-list>

<ion-list id="ajustarCSV-list11">
      
      <ion-item class="assertive" id="ajustarCSV-list-item18" ng-repeat="barreno in Barrenostest.rows | orderBy:'doc.barr'">
        <div class="row">
          <!--div class="col">{{barreno.id}}</div-->
          <div class="col">{{barreno.doc.barr}}</div>
          <div class="col">{{barreno.doc.coordx}}</div>
          <div class="col">{{barreno.doc.coordy}}</div>
          <div class="col">{{barreno.doc.prof}}</div>
          <div class="col">{{barreno.doc.diametro}}</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>