<ion-view title="Editar - Voladura Mapa" id="page12">
  <ion-content padding="true" class="has-header">
    <canvas ng-show="showmap==true" id="base" class="chart-bubble" chart-colors="colors" chart-labels="" chart-data="dataChart">
    </canvas> 

   <button id="editarVoladuraMapa-button33" ng-show="showmap==true" ng-click="hideMap()"  class="button button-calm button-positive button-block icon-right ion-android-arrow-dropup-circle">Ocultar Mapa</button>
   <button id="editarVoladuraMapa-button33" ng-show="showmap==false" ng-click="dataChartBarrs()"  class="button button-calm button-positive button-block icon-right ion-android-arrow-dropdown-circle">Desplegar Mapa</button>
    <form id="editarVoladuraMapa-form11" class="list" ng-model="tempTiposBarr">
      <div>
        <div class="row">
          <div class="col">
            <strong>Avance: </strong>{{countUpdatedBarras()}}/{{Barrenos.total_rows}}
          </div>
          <div class="col">
            <strong>Total de KG: </strong> {{pesoTotal}}
          </div>
          <div class="col">
            <strong>Profundidad Real</strong> (mts): {{profreal_u}}
          </div>
        </div>
      </div>
      <div>
        <div class="row">
          <div class="col">
            <strong>Volumen:</strong> {{volumenTotal}}
          </div>
          <div class="col">
            <strong>FC:</strong> {{factorDeCarga}}
          </div>
          <div class="col">
            <strong>Carga Granel Sugerida</strong> {{cargaAgranel}}
          </div>
        </div>
        
      </div>
     
     <div class="row" ng-show="showBarrnam">
      <strong>{{message}}</strong>
      <label class="item item-input" id="editarVoladuraMapa-input25">
        <span class="input-label">Nuevo ID de Barreno:  N-</span>
        <input type="text" placeholder="" ng-model="newBarrnam" ng-change="updateBarrid(newBarrnam)">
      </label>
     </div>
     <ul>


       <li>
      <label class="item item-input" id="editarVoladuraMapa-search4">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Buscar barreno por ID" ng-model = "searchedbarr.doc.barr">
      </label>
       </li>
       <li>   
      
        <label class="item item-select" id="editarVoladuraMapa-select19">
          <span class="input-label">ID de Barreno</span>
          <select ng-options="barreno as barreno.doc.barr for barreno in Barrenos.rows | orderBy: 'doc.barr/1' | filter : searchedbarr " ng-model="selectedBarreno" ng-change="updateSelectedBarr(selectedBarreno)"></select>
        </label>
       </li>
     </ul>
      <label class="item item-select" id="editarVoladuraMapa-select19" ng-show = "showselectbarrchar">
              <select ng-options="barreno as barreno.Barreno for barreno in Barrchar | filter : searchedbarr " ng-model="selectedBarrchar" ></select>
        </label>
        <ion-list id="editarVoladuraMapa-list7">
        <p>{{names}}</p>
        <span class="input-label"> <h4> {{selectedbarr.status}}</h4></span>
      <div class="row" ng-show="showCoord">
        <div class="col">
          <label class="item item-input" id="editarVoladuraMapa-inputcoordx">
            <span class="input-label">X</span>
            <input type="number" placeholder="" ng-model="coordx" ng-change="updateCoordx(coordx,selectedBarrchar)">
          </label>
        </div>
        <div class="col">
          <label class="item item-input" id="editarVoladuraMapa-inputcoordy">
            <span class="input-label">Y</span>
            <input type="number" placeholder="" ng-model="coordy" ng-change="updateCoordy(coordy)">
          </label>
        </div>
      </div>
        <label class="item item-select" id="editarVoladuraMapa-select14">
          <span class="input-label">Valores Predeterminados</span>
          <select ng-options="tipo as tipo.id for tipo in tipobarr.rows | orderBy: 'id'" ng-model="selectedTipo" ng-change="updateSelectedTipo(selectedTipo)"></select>
        </label>
      </ion-list>
      <ion-toggle toggle-class="toggle-positive" id="ajustarCSV-toggle5" ng-change="barrDetailstoggle()" ng-model="barrDetails">Ver Detalles</ion-toggle>
      <ion-item id="listatiposelec" ng-repeat="carga in selectedTipo.doc.carga track by $index" ng-model="selectedTipolist"> <strong>Producto:</strong> {{carga.prod}} <strong>Tipo: </strong>{{carga.tipo}}</ion-item>
      <label class="item item-input" id="editarVoladuraMapa-input25">
        <span class="input-label">Profundidad Real (mts)</span>
        <input type="number" placeholder="" ng-model="profreal" ng-change="updateProfReal(profreal)">
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputtaco">
        <span class="input-label">Taco (mts)</span>
        <input type="number" placeholder="" ng-model="taco" ng-change="updateTaco(taco)">
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputaire">
        <span class="input-label">Aire (mts)</span>
        <input type="number" placeholder="" ng-model="aire" ng-change="updateAire(aire)">
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputbordo" ng-show="barrDetails">
        <span class="input-label">Bordo (mts)</span>
        <input type="number" placeholder=" " ng-model="bordo" ng-change="updateBordo(bordo)">
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputespaciamiento" ng-show="barrDetails">
        <span class="input-label">Espaciamiento (mts)</span>
        <input type="number" placeholder=" " ng-model="espaciamiento" ng-change="updateEspaciamiento(espaciamiento)">
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputdiametro" ng-show="barrDetails">
        <span class="input-label">Diametro (mm) </span>
        <input type="number" placeholder=" " ng-model="diametro" ng-change="updateDiametro(diametro)">
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputsubperf" ng-show="barrDetails">
        <span class="input-label">Sub-perforación </span>
        <input type="number" placeholder=" " ng-model="subperf" ng-change="updateSubperf(subperf)">
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputcargagra">
            <span class="input-label">Densidad: {{densidad}} </span>
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputcargagra">
            <span class="input-label">Carga a Granel (KG) </span>
            <input type="number" placeholder="" ng-model="cargaAgranel" ng-change="updateCargagra(cargagranel)">
      </label>
     
      <!--label class="item item-select" id="editarVoladuraMapa-select14">
        <span class="input-label">Carga a Granel</span>
        <select ng-options="tipo as tipo.doc.prod for tipo in prodsGra.rows | orderBy: '_id'" ng-model="selectedProdGra" ng-change="updateSelectedProdGra(selectedProdGra)"></select>
       </label-->
    </form>
    <div id="editarVoladuraMapa-markdown9" class="show-list-numbers-and-dots"></div>
    <div id="editarVoladuraMapa-markdown10" class="show-list-numbers-and-dots">
     
       <!--p style="color:#000000;">Carga Sin Aire: {{cargaSinAire}} Carga menos Aire: {{cargaMenosAire}} 
        Carga a Granel Disponible: {{cargaAgraneldisp}} Volumen Cilindrico: {{volumenCil}} Carga a Granel: {{cargaAgranel}}
        Volumen Total: {{volumenTotal}} Factor de Carga: {{factorDeCarga}} </p-->


    </div>
    <div id="editarVoladuraMapa-button-bar6" class="button-bar" ng-show = "showBarrnam">
      <button id="editarVoladuraMapa-button31" ng-click="updateSelectedNewBarr(selectedBarreno)" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block icon-left ion-android-checkmark-circle">Agregar Barreno</button>
    </div>
    <div id="editarVoladuraMapa-button-bar5" class="button-bar" ng-hide="showBarrnam">
      <a ui-sref="menu.editarVoladuraCaptaciN()" id="editarVoladuraMapa-button25" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block icon-center ion-edit"></a>
      <button id="editarVoladuraMapa-button31" ng-click="addNewBarr()" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block icon-center ion-android-add-circle"></button>
      <button id="editarVoladuraMapa-button32" ng-click="calculos()" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block icon-center ion-calculator"></button>
      <button id="editarVoladuraMapa-button33" ng-click="updateBarr()" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block icon-center ion-android-checkmark-circle"></button>
    </div>

    <button id="editarVoladuraMapa-button34" ng-click="gotoMenu()" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block icon-right ios-arrow-dropright">Finalizar</button>
  </ion-content>
</ion-view>