<ion-view title="Generar Reporte - Datos Generales" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="generarReporteDatosGenerales-form16" class="list">
      <label class="item item-input" id="generarReporteDatosGenerales-input51">
        <span class="input-label">N de Voladura Stracon</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input52">
        <span class="input-label">N de Voladura Austin</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input53">
        <span class="input-label">Hora de Inicio de Carga</span>
        <input type="time" placeholder="10">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input54">
        <span class="input-label">Tipo de Tiro</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input55">
        <span class="input-label">Fecha de Tiro</span>
        <input type="date" placeholder="Camion 1">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input56">
        <span class="input-label">Fecha Inicio Cargado</span>
        <input type="date" placeholder="Camion 1">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input57">
        <span class="input-label">Frente de Trabajo</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="generarReporteDatosGenerales-select20">
        <span class="input-label">Explosivista</span>
        <select>
          <option>Arnaldo Barria</option>
          <option>Eliodoro Olmos</option>
          <option>Hernan de Leon</option>
          <option>Jose Luis Hernandez</option>
          <option>Nelson Martinez</option>
        </select>
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input58">
        <span class="input-label">Licencia de Explosivista </span>
        <input type="text" placeholder="DIASP-00380-040615">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input59">
        <span class="input-label">Bordo</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input60">
        <span class="input-label">Espaciamiento</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input61">
        <span class="input-label">Taco</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input62">
        <span class="input-label">Diametro(mm)</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input63">
        <span class="input-label">Cara Libre</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input64">
        <span class="input-label">N de Filas</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input65">
        <span class="input-label">Prof de Agua Promedio</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input66">
        <span class="input-label">Tipo de Taco</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="generarReporteDatosGenerales-input67">
        <span class="input-label">Sub Perforación</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <a ui-sref="menu.generarReporteProductos()" id="generarReporteDatosGenerales-button45" class="button button-positive button-block icon-right ion-android-arrow-forward">Siguiente</a>
  </ion-content>
</ion-view>