<ion-view title="Generar Reporte - Productos" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="generarReporteProductos-form13" editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">
        <div class="btn-edit">
            <button type="button" style="border-radius:50px 50px 50px 50px;" class="btn btn-default button button-positive icon-center ion-edit" ng-show="!tableform.$visible" ng-click="tableform.$show()">
              Editar
            </button>
            <div class="btn-group">
                <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar</button>
                <ul class="dropdown-menu " role="menu">
                    <li><button class="btn btn-link" onClick ="$('#productTable').tableExport({type:'pdf', escape:'true'});"><span class="glyphicon glyphicon-share"></span> PDF</button></li>
                    <li><button class="btn btn-link" onClick ="$('#productTable').tableExport({type:'excel',escape:'false'});"><span class="glyphicon glyphicon-share"></span> XLS</button></li>
                    <li><button class="btn btn-link" onClick ="$('#productTable').tableExport({type:'xml',escape:'false'});"><span class="glyphicon glyphicon-share"></span> XML</button></li>
                   
                </ul>
            </div>
          </div>
      <div id="productTable">    
      <table class="table table-bordered table-hover table-condensed">
          <tr style="font-weight: bold"> 
              <td style="width:40%">Producto</td>
              <td style="width:20%">Entregado</td>
              <td style="width:20%">Devuelto</td>
              <td style="width:20%">Utilizado</td>
          </tr>
          <tr style="font-weight: bold">
           <td style="width:100%"> 
            <strong>Componentes / Emulsión a granel</strong>
           </td>
          </tr>
          <tr ng-repeat="prod in prod_list.rows | filter:prod.doc.tipo='Componentes / Emulsión a granel' ">
            <td>{{prod.doc.prod}}</td>
            <td> <span editable-text="prod.doc.del" >{{prod.doc.del}}</span></td>
            <td> <span editable-text="prod.doc.dev" >{{prod.doc.dev}}</span></td>
            <td> <span>{{prod.doc.del - prod.doc.dev}}</span></td>
          </tr>
          <tr style="font-weight: bold">
              <td style="width:100%"> 
               <strong>Emulsión Empacada</strong>
              </td>
             </tr>
             <tr ng-repeat="prod in prod_list.rows | filter:prod.doc.tipo='Emulsión Empacada' ">
               <td>{{prod.doc.prod}}</td>
               <td> <span editable-text="prod.doc.del" >{{prod.doc.del}}</span></td>
               <td> <span editable-text="prod.doc.dev" >{{prod.doc.dev}}</span></td>
               <td> <span>{{prod.doc.del - prod.doc.dev}}</span></td>
             </tr>
             <tr style="font-weight: bold">
                <td style="width:100%"> 
                 <strong>Booster (Iniciador)</strong>
                </td>
               </tr>
               <tr ng-repeat="prod in prod_list.rows | filter:prod.doc.tipo='Booster (Iniciador)' ">
                 <td>{{prod.doc.prod}}</td>
                 <td> <span editable-text="prod.doc.del" >{{prod.doc.del}}</span></td>
                 <td> <span editable-text="prod.doc.dev" >{{prod.doc.dev}}</span></td>
                 <td> <span>{{prod.doc.del - prod.doc.dev}}</span></td>
               </tr>
               <tr style="font-weight: bold">
                  <td style="width:100%"> 
                   <strong>Detonadores Duales</strong>
                  </td>
                 </tr>
                 <tr ng-repeat="prod in prod_list.rows | filter:prod.doc.tipo='Detonadores Duales' ">
                   <td>{{prod.doc.prod}}</td>
                   <td> <span editable-text="prod.doc.del" >{{prod.doc.del}}</span></td>
                   <td> <span editable-text="prod.doc.dev" >{{prod.doc.dev}}</span></td>
                   <td> <span>{{prod.doc.del - prod.doc.dev}}</span></td>
                 </tr>
                 <tr style="font-weight: bold">
                    <td style="width:100%"> 
                     <strong>Conectores de Superficie'</strong>
                    </td>
                   </tr>
                   <tr ng-repeat="prod in prod_list.rows | filter:prod.doc.tipo='Conectores de Superficie'">
                     <td>{{prod.doc.prod}}</td>
                     <td> <span editable-text="prod.doc.del" >{{prod.doc.del}}</span></td>
                     <td> <span editable-text="prod.doc.dev" >{{prod.doc.dev}}</span></td>
                     <td> <span>{{prod.doc.del - prod.doc.dev}}</span></td>
                   </tr>
                   <tr style="font-weight: bold">
                      <td style="width:100%"> 
                       <strong>Líneas de inicio</strong>
                      </td>
                     </tr>
                     <tr ng-repeat="prod in prod_list.rows | filter:prod.doc.tipo='Líneas de inicio' ">
                       <td>{{prod.doc.prod}}</td>
                       <td> <span editable-text="prod.doc.del" >{{prod.doc.del}}</span></td>
                       <td> <span editable-text="prod.doc.dev" >{{prod.doc.dev}}</span></td>
                       <td> <span>{{prod.doc.del - prod.doc.dev}}</span></td>
                     </tr>
                     <tr style="font-weight: bold">
                        <td style="width:100%"> 
                         <strong>Cordón detonante</strong>
                        </td>
                       </tr>
                       <tr ng-repeat="prod in prod_list.rows | filter:prod.doc.tipo='Cordón detonante' ">
                         <td>{{prod.doc.prod}}</td>
                         <td> <span editable-text="prod.doc.del" >{{prod.doc.del}}</span></td>
                         <td> <span editable-text="prod.doc.dev" >{{prod.doc.dev}}</span></td>
                         <td> <span>{{prod.doc.del - prod.doc.dev}}</span></td>
                       </tr>
                       <tr style="font-weight: bold">
                          <td style="width:100%"> 
                           <strong>Detonadores eléctricos y electrónicos</strong>
                          </td>
                         </tr>
                         <tr ng-repeat="prod in prod_list.rows | filter:prod.doc.tipo='Detonadores eléctricos y electrónicos' ">
                           <td>{{prod.doc.prod}}</td>
                           <td> <span editable-text="prod.doc.del" >{{prod.doc.del}}</span></td>
                           <td> <span editable-text="prod.doc.dev" >{{prod.doc.dev}}</span></td>
                           <td> <span>{{prod.doc.del - prod.doc.dev}}</span></td>
                         </tr>
                         <tr style="font-weight: bold">
                            <td style="width:100%"> 
                             <strong>Otros</strong>
                            </td>
                           </tr>
                           <tr ng-repeat="prod in prod_list.rows | filter:prod.doc.tipo='Otros' ">
                             <td>{{prod.doc.prod}}</td>
                             <td> <span editable-text="prod.doc.del" >{{prod.doc.del}}</span></td>
                             <td> <span editable-text="prod.doc.dev" >{{prod.doc.dev}}</span></td>
                             <td> <span>{{prod.doc.del - prod.doc.dev}}</span></td>
                           </tr>
</table>
      </div>
 <!-- buttons -->

  <div class="btn-form" ng-show="tableform.$visible">
    <button type="submit" style="border-radius:50px 50px 50px 50px;" ng-disabled="tableform.$waiting" class="btn btn-primary button button-positive button-block icon-left ion-android-checkmark-circle">Aceptar</button>
    <button type="button" style="border-radius:50px 50px 50px 50px;" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-defaultbutton button-positive button-block icon-left ion-android-cancel">Cancelar</button>
  </div> 
     
    </form>


    <button  id="subirProyecto-button35" ng-click="updateProductos()" style="border-radius:50px 50px 50px 50px;" 
    class="button button-positive button-block icon-right ion-android-checkmark-circle">Confirmar</button>
    
   
  </ion-content>
</ion-view>