<ion-view title="Crear Tipo de Barreno" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="parametrosVoladura1-form15" class="list">
      <label class="item item-input" id="parametrosVoladura1-input93">
        <span class="input-label">Nombre del Tipo de Barreno</span>
        <input type="text" placeholder="Escriba el Nombre del Barreno" ng-model="newBarreno.nam" ng-hide="barrForm =='Yes'" ng-value="newBarreno.nam">
      </label>
      <button id="parametrosVoladura1-button26" ng-click="showBarrForm()" ng-hide="barrForm !=''" style="border-radius:26px 26px 26px 26px;" class="button button-positive button-block icon ion-android-add-circle"></button>
    </form>
    <div id="parametrosVoladura1-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:25px;">
        <strong>{{newTipoBarr.nam}}</strong>
      </p>

      <p style="color:#000000;font-size:25px;">{{newBarreno.nam}}</p>
    </div>
    <form id="parametrosVoladura1-formupdate" class="list" ng-show="updateForm!=''">
     <div id="parametrosVoladura1-formupdate7" ng-model="newProd" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:25px;">
          <strong>Profundidad</strong>: {{tipoBarrdb.prof}}
          <strong>Peso</strong>: {{tipoBarrdb.peso}}
          </p>
          <ion-item id="parametrosVoladura1-list-itemupd11" ng-repeat="tipo in tipoBarrdb.carga track by $index" ng-model="readType">Producto:{{tipo.prod}} Tipo: {{tipo.tipo}}</ion-item>
      <div id="parametrosVoladura1-markdown6" class="show-list-numbers-and-dots"></div> 
      </div>
    <button id="parametrosVoladura1-button53" ng-click="showBarrFormUpdate()" style="border-radius:25px 25px 25px 25px;" 
      class="button button-positive button-block icon-right ion-android-add-circle">Actualizar</button>

    </form>
    <form id="parametrosVoladura1-form6" class="list" ng-show="barrForm!=''">
      <ion-toggle toggle-class="toggle-positive" id="parametrosVoladura1-toggle10">Precorte?</ion-toggle>
      <label class="item item-input" id="editarVoladuraMapa-inputtaco">
        <span class="input-label">Taco</span>
        <input type="number" placeholder=" mts" ng-model="taco" ng-change="updateTaco(taco)">
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputaire">
        <span class="input-label">Aire</span>
        <input type="number" placeholder=" mts" ng-model="aire" ng-change="updateAire(aire)">
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputbordo">
        <span class="input-label">Bordo</span>
        <input type="number" placeholder=" mts" ng-model="bordo" ng-change="updateBordo(bordo)">
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputespaciamiento">
        <span class="input-label">Espaciamiento</span>
        <input type="number" placeholder=" mts" ng-model="espaciamiento" ng-change="updateEspaciamiento(espaciamiento)">
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputdiametro">
        <span class="input-label">Diametro</span>
        <input type="number" placeholder=" mm" ng-model="diametro" ng-change="updateDiametro(diametro)">
      </label>
      <label class="item item-input" id="editarVoladuraMapa-inputdiametro">
        <span class="input-label">Sub-Perforación</span>
        <input type="number" placeholder=" mts" ng-model="subperf" ng-change="updateSubperf(subperf)">
      </label>
       <div class="row">
         <div class="col">
       <label class="item item-select" id="parametrosVoladura1-selectiniciadores">
        <span class="input-label">Iniciador</span>
        <select ng-model="newIni" ng-options="producto as producto.prod for producto in listed_productos | filter:producto.tipoid='ini'"
                ng-change="getTipoIni(newIni)"></select>
      </label>
         </div>
    <div class ="col">
      <button id="parametrosVoladura1-button24" ng-disabled="showAddbutton" ng-click="add(newTipoProd)" ng-click="changeShowCarga()" style="left:-10px;border-radius:0px 0px 0px 0px;" 
        class="button button-positive button-full button-clear icon ion-android-add-circle"></button>
    </div>
       </div>
   <div class="row">
     <div class="col">

      <form id="tiposde carga-form6" class="list" >
      <ion-toggle toggle-class="toggle-positive" id="tipodeprod-toggle5" ng-model="tipodecarga" 
                ng-true-value="'Variable'" ng-false-value="'Fija'" ng-change="changeTipoCarga(tipodecarga)" ng-show="showCargaForm==true">Tipo de Carga {{tipodecarga}}</ion-toggle>
      <label class="item item-select" id="parametrosVoladura1-select13" >
        <span ng-disabled="showCargaForm" class="input-label">Carga {{tipodecarga}}</span>
        <select ng-options="tipo as tipo.tipo for tipo in tipodeprod_list" ng-model="tipoProd" ng-show="tipodecarga=='Fija'" ng-change="showTipoprodbarr(tipoProd)"></select>
        <select ng-options="tipo as tipo.tipo for tipo in tipodeprod_list" ng-model="tipoProd" ng-show="tipodecarga=='Variable'" ng-change="showTipoprodbarr(tipoProd)"></select>
        
      </label>

       
      <label class="item item-select" id="parametrosVoladura1-select25" ng-show="showTipoprodbarrAct">
        <span class="input-label">{{tipoProd.tipo}}</span>
        <select ng-model="newProd" ng-options="producto as producto.prod for producto in listed_productos | filter:producto.tipoid=tipoprodId"
                ng-change="getTipoProd(newProd)"></select>
      </label>
      </form>
      <!--div class="col" >
        <label class="item item-input" ng-disabled="showAmountInput" id="editarVoladuraMapa-cantprod" ng-show="tipodecarga=='Variable'">
        <span class="input-label">Cantidad</span>
      <input type="number" placeholder=""  ng-model="cantprod" ng-hide="tipoprodId=='cg'" ng-change="updateCant(cantprod)">
      <input type="number" placeholder=""  ng-model="cantprodgra" ng-show="tipoprodId=='cg'" ng-change="updateCantGra(cantprodgra)">
        </label>
      </div-->
      </div>   
      <div class="col">
  
     
        <button id="parametrosVoladura1-button24" ng-disabled="showCargaForm" ng-click="add(newTipoProd)" style="left:-10px;border-radius:0px 0px 0px 0px;" 
        class="button button-positive button-full button-clear icon ion-android-add-circle"></button>
         
      </div>
   </div>
      <div id="parametrosVoladura1-markdown7" ng-model="newTipoProd" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Largo Total</strong>: {{getLargoTotal()}}
          <strong>Peso Total </strong>: {{getPesoGra()}}
          <strong>Densidad Total </strong>: {{getDensidad()}}</p>
     
      </div>
      <ion-item id="parametrosVoladura1-list-item11" ng-repeat="prod in prods track by $index" ng-model="newTipoProd">Producto:{{prod.prod}} Tipo: {{prod.tipo}}</ion-item>
      <div id="parametrosVoladura1-markdown6" class="show-list-numbers-and-dots"></div>
    </form>
 
    <div id="parametrosVoladura1-button-bar1" class="button-bar">
      <a ui-sref="menu.tiposDeBarreno({})" id="parametrosVoladura1-button48" style="border-radius:25px 25px 25px 25px;" 
      class="button button-positive button-block icon-left ion-android-list">Ver Tipos de Barreno</a>
      <button id="parametrosVoladura1-button51" ng-click="createType()" style="border-radius:25px 25px 25px 25px;" 
      class="button button-positive button-block icon-right ion-android-add-circle" ng-show="createButton!=''">Crear Tipo</button>
      <button id="parametrosVoladura1-button55" ng-click="updateType()" ng-show="updateButton!=''" style="border-radius:25px 25px 25px 25px;" 
      class="button button-positive button-block icon-right ion-android-add-circle">Actualizar Tipo</button>
      <button id="parametrosVoladura1-buttonreload55" ng-click="reloadPage()" ng-show="reloadButton!=''" style="border-radius:25px 25px 25px 25px;" 
      class="button button-positive button-block icon-right ion-android-add-circle">Nuevo Tipo</button>
      <a ui-sref="menu.editarVoladuraMapa({})" id="parametrosVoladura1-button60" style="border-radius:25px 25px 25px 25px;" 
      class="button button-positive button-block icon-right ion-android-arrow-forward"  >Continuar</a>
    </div>
    <!--div id="parametrosVoladura1-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{newTipoBars.nam}} {{newTipoBars.carga}} tipolocal {{TipoLocal}} tipolocalload {{TipoLocalLoad}} new BArreno {{$scope.newBarreno}}</p>
    </div-->
  </ion-content>
</ion-view>