<ion-view title="Toma de Muestra" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="tomaDeMuestra-form9" class="list">
      <label class="item item-input" id="tomaDeMuestra-search3">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar agujero por ID">
      </label>
      <label class="item item-select" id="tomaDeMuestra-select16">
        <span class="input-label">Camion</span>
        <select>
          <option>Camion 1123124</option>
          <option>Camion 32425</option>
          <option>Camion 25436</option>
          <option>Camion 25235634</option>
          <option>Agregar</option>
        </select>
      </label>
      <label class="item item-input" id="tomaDeMuestra-input18">
        <span class="input-label">Hora</span>
        <input type="time" placeholder="10">
      </label>
      <label class="item item-select" id="tomaDeMuestra-select24">
        <span class="input-label">ID de Barreno</span>
        <select>
          <option>1-007</option>
          <option>1-008</option>
          <option>1-050</option>
          <option>N-001</option>
          <option></option>
        </select>
      </label>
      <label class="item item-input" id="tomaDeMuestra-input19">
        <span class="input-label">R1 (LPH)</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="tomaDeMuestra-input33">
        <span class="input-label">R2 (LPH)</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="tomaDeMuestra-input20">
        <span class="input-label">RPM (all)</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-input" id="tomaDeMuestra-input21">
        <span class="input-label">Temp F</span>
        <input type="number" placeholder="100">
      </label>
      <label class="item item-select" id="tomaDeMuestra-select17">
        <span class="input-label">Tiempo</span>
        <select>
          <option>0</option>
          <option>10</option>
          <option>20</option>
          <option>30</option>
          <option>40</option>
          <option>50</option>
          <option>60</option>
        </select>
      </label>
      <label class="item item-input" id="tomaDeMuestra-input22">
        <span class="input-label">Densidad g/cc</span>
        <input type="number" placeholder="">
      </label>
    </form>
    <form id="tomaDeMuestra-form12" class="list">
      <label class="item item-input" id="tomaDeMuestra-textarea1">
        <span class="input-label">Comentarios</span><textarea placeholder="(Opcional)"></textarea></label>
    </form>
    <button id="tomaDeMuestra-button20" class="button button-positive icon-left ion-android-arrow-back">Muestra Anterior</button>
    <button id="tomaDeMuestra-button39" class="button button-positive icon-right ion-android-arrow-forward">Siguiente Muestra</button>
    <button id="tomaDeMuestra-button40" class="button button-positive icon-right ion-android-add-circle">Agregar Muestra</button>
    <a ui-sref="menu.vistaDeProyecto()" id="tomaDeMuestra-button21" class="button button-positive button-block icon-left ion-android-checkmark-circle">Finalizar</a>
  </ion-content>
</ion-view>