<ion-view title="Reporte de Barrenos" id="page16">
    <style>
        table, th , td {
          border: 1px solid grey;
          border-collapse: collapse;
          padding: 5px;
        }
        table tr:nth-child(odd) {
          background-color: #f1f1f1;
        }
        table tr:nth-child(even) {
          background-color: #ffffff;
        }
        </style>
  <ion-content padding="true" class="has-header">



    <div class="btn-edit">
        <button type="button" style="border-radius:50px 50px 50px 50px;" class="btn btn-default button button-positive icon-center ion-edit" ng-show="!tableform.$visible" ng-click="tableform.$show()">
          Editar
        </button>
        <div class="btn-group">
            <button class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Exportar</button>
            <ul class="dropdown-menu " role="menu">
                <li><button class="btn btn-link" onClick ="$('#barrenos').tableExport({type:'pdf', escape:'true'});"><span class="glyphicon glyphicon-share"></span> PDF</button></li>
                <li><button class="btn btn-link" onClick ="$('#barrenos').tableExport({type:'excel',escape:'false'});"><span class="glyphicon glyphicon-share"></span> XLS</button></li>
                <li><button class="btn btn-link" onClick ="$('#barrenos').tableExport({type:'xml',escape:'false'});"><span class="glyphicon glyphicon-share"></span> XML</button></li>
            </ul>
        </div>
      </div>
       
                <div id="barrenos">
                  <table border="1">
                    <thead>
                      <tr class="table-header" style="font-weight: bold">
                          <th>HOLE</th> 
                          <th>DEPH</th> 
                          <th>REAL DEPH</th>  
                          <th>TACO INICIO</th>
                          <th>TACO FINAL</th>
                          <th>Diam (pulg)</th>
                          <th>Iniciador</th>
                          <th>Iniciador Peso</th>
                          <th>Explosivo</th>
                          <th>Explosivo Peso</th>
                          <th>Peso Total</th>
                          <th>Bordo</th>
                          <th>Espaciamiento</th>
                          <th>Vol. Barreno</th>
                          <th>POWDER FACTOR</th>
                          <!--th>EM. DENSITY</th-->
                  
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="x in Barrenos.rows | orderBy: 'doc.barr' ">
                   
                          <td>{{x.doc.barr}}</td> 
                          <td>{{x.doc.prof}}</td>                          
                          <td>{{x.doc.profreal}}</td>                         
                          <td>{{x.doc.taco}}</td>
                          <td>{{x.doc.tacofinal}}</td>
                          <td>{{x.doc.diametro}}</td>                          
                          <td>{{x.doc.iniciadores.prod}}</td>
                          <td>{{x.doc.iniciadores.peso | number:2}}</td>
                          <td>{{x.doc.cargas.prod}}</td>
                          <td>{{x.doc.pesototal | number:2}}</td>
                          <td>{{x.doc.pesototal+x.doc.iniciadores.peso | number:2}}</td>
                          <td>{{x.doc.bordo}}</td>
                          <td>{{x.doc.espaciamiento}}</td>                          
                          <td>{{x.doc.volumentotal}}</td>
                          
                          <td>{{x.doc.factordecarga}}</td>
                          <!--td step="0.01">{{x.doc.densidad}}</td-->
                          
                      
                      </tr>
                  
                    </tbody>
                  </table>
                </div>
  </ion-content>
</ion-view>
