<ion-view title="Vista de Proyecto" id="page13">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.mapaVoladura1()" id="vistaDeProyecto-button36" class="button button-positive button-block icon-left ion-edit">Editar Proyecto</a>
    <a ui-sref="menu.tomaDeMuestra()" id="vistaDeProyecto-button37" class="button button-positive button-block icon-left ion-android-locate">Agregar Muestreo de Calidad</a>
    <a ui-sref="menu.tomaDeSismografos()" id="vistaDeProyecto-button22" class="button button-positive button-block icon-left ion-ios-pulse-strong">Agregar Sismografo</a>
    <a ui-sref="menu.login()" id="vistaDeProyecto-button38" class="button button-positive button-block icon-left ion-android-download">Generar Informe</a>
  </ion-content>
</ion-view>