<ion-view title="Vista de Proyecto" id="page13">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.generarReporteProductos()" id="vistaDeProyecto-button36" class="button button-positive button-block icon-left ion-edit">Productos Utilizados</a>
    <a ui-sref="menu.tomaDeMuestra()" id="vistaDeProyecto-button37" class="button button-positive button-block icon-left ion-android-locate">Agregar Muestreo de Calidad</a>
    <a ui-sref="menu.tomaDeSismografos()" id="vistaDeProyecto-button22" class="button button-positive button-block icon-left ion-ios-pulse-strong">Agregar Sismografo</a>
    <a ui-sref="menu.generarReporteDatosGenerales()" id="vistaDeProyecto-button38" class="button button-positive button-block icon-left ion-android-download">Datos Generales</a>
    <a ui-sref="menu.reporteCarga1()" id="vistaDeProyecto-button38" class="button button-positive button-block icon-left ion-android-download">Informe de Cargas</a>
    <a ui-sref="menu.vistaDeReporte()" id="vistaDeProyecto-button38" class="button button-positive button-block icon-left ion-android-download">Informe de Barrenos</a>
  </ion-content>
</ion-view>