<ion-view title="Vista de Reporte" id="page16">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.generarReporteDatosGenerales()" id="vistaDeReporte-button47" class="button button-positive button-block icon-left ion-edit">Editar Reporte</a>
    <button id="vistaDeReporte-button49" class="button button-positive button-block icon-left ion-android-contract">Vista Previa de Reporte</button>
    <button id="vistaDeReporte-button50" class="button button-positive button-block icon-left ion-android-download">Descargar Reporte</button>
  </ion-content>
</ion-view>